{layout="_layouts/_base" title='Games'}
{layout:set name='title'}Games{/layout:set}
{layout:set name='description'}All the best Stadia games, from your favourite Stadia community site!{/layout:set}

<div id="gamesindex" class="uk-section uk-light uk-container">

{exp:channel:entries channel="games" orderby="random" limit="1" show_future_entries="yes"}
    <div class="uk-background-norepeat uk-background-cover uk-background-fixed uk-background-center-center uk-height-large uk-width-expand" style="background-image: url({banner_image});">
      <div class="uk-overlay uk-overlay-primary uk-padding-small">
        <h1 class="uk-heading-medium">Games</h1>
      </div>
    </div>
{/exp:channel:entries}

<div class="uk-grid-small uk-margin-medium" uk-grid>

	<form method="post" action="{path='_ajax/game_list'}" class="uk-width-expand@s" id="ajax-games">
    	<input type="hidden" name="csrf_token" value="{csrf_token}" />
        <div class="uk-form-controls uk-width-1-2@s" uk-form-custom="target: > * > span:first-child">
            <select name="orderby" class="uk-select" id="form-horizontal-select" onchange='sortFilterGames()'>
                <option value="/entry_date/desc">Release Date Desc<span uk-icon="icon: chevron-down"></span></option>
                <option value="/entry_date/asc">Release Date Asc<span uk-icon="icon: chevron-up"></span></option>
                <option value="/title/asc">Title Asc<span uk-icon="icon: chevron-down"></span></option>
                <option value="/title/desc">Title Desc<span uk-icon="icon: chevron-up"></span></option>
            </select>
			<button class="uk-button uk-button-default" type="button" tabindex="-1">
                <span></span>
                <span uk-icon="icon: chevron-down"></span>
            </button>
        </div>
	</form>
    
        <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid" onchange='sortFilterGames()'>
            <label><input class="uk-radio" type="radio" value="all" name="filtergames" checked> All</label>
            <label><input class="uk-radio" type="radio" value="pro" name="filtergames"> Pro</label>
            <label><input class="uk-radio" type="radio" value="upcoming" name="filtergames"> Upcoming</label>
            <label><input class="uk-radio" type="radio" value="unconfirmed" name="filtergames"> Unconfirmed</label>
        </div>
        
</div>





    
<div id="articles" class="uk-child-width-1-4@m uk-grid-match" uk-grid>
  {embed="_ajax/game_list"}
</div>

<hr class="uk-divider-icon">
<h1 class="uk-heading-medium">Unconfirmed Release Dates</h1>

<div class="uk-child-width-1-4@m uk-grid-match" uk-grid>
	{exp:channel:entries channel="games" sort="asc" orderby="title" show_future_entries="yes" search:expected_release="not IS_EMPTY"}
    <div class="uk-grid-match">
	    <a href="{url_title_path='games'}">
            <div class="uk-card uk-card-hover uk-card-secondary">
                <div class="uk-card-media-top">
                	<img class="" data-src="{banner_image}" alt="{title} Image" uk-img>
                </div>
                <div class="uk-card-header uk-padding-small">
                  <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-expand">
                      <h3 class="uk-card-title uk-margin-remove-bottom">{title}</h3>
                      <p class="uk-text-meta uk-margin-remove-top">
                      
                        <time>{expected_release }</time>

                      </p>
                    </div>
                  </div>
                </div>

                <div class="uk-card-footer uk-padding-small">
                  <p>
	                {if game_achievements:total_rows}
    	            	<span uk-tooltip="{game_achievements:total_rows} Achievements">{game_achievements:total_rows} <span uk-icon="cog" ></span></span>
					{/if}
                    {parents field="related_game"}
                    {if parents:count == 1}
                    <span uk-tooltip="{parents:total_results} Guides" class="uk-margin-left" style="float:right">{parents:total_results} <span uk-icon="heart"></span></span>
                    {/if}
                    {/parents}
                  </p>
                </div>
            </div>
      	</a>
    </div>
	{/exp:channel:entries}
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="/assets/games_test.js?v1.1" async></script>