
RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]

RewriteCond $1 !\.(gif|jpe?g|png|ico|js|pdf|csv|css|bmp)$ [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !/?nep.* 
RewriteRule ^(.*) /index.php/$1  [L,QSA] 

php_value memory_limit 30M
php_value post_max_size 100M
php_value upload_max_filesize 30M