<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-76888829-5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-76888829-5');
</script>

<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- UIkit CSS -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.6/dist/css/uikit.min.css" />
<link rel="stylesheet" type="text/css" media="all" href="{stylesheet='_styles/custom.css'}" />

<style>
a {
text-decoration: none !important;
}
</style>