<h1 class="uk-text-large uk-margin-remove-bottom">Genre</h1>

<div class="uk-button-group uk-flex uk-flex-wrap">
{exp:search:simple_form channel="games|game_guides|game_reviews|news|events" where="all" search_in="everywhere" result_page="search/results" no_result_page="search/noresults" show_future_entries="yes"}<input class="uk-search-input" type="hidden" name="keywords" id="keywords" value="role-playing" size="18" maxlength="100">
<button type="submit" value="submit" class="uk-button uk-button-primary uk-margin-left uk-margin-bottom">RPG</button>
{/exp:search:simple_form}

{exp:search:simple_form channel="games|game_guides|game_reviews|news|events" where="all" search_in="everywhere" result_page="search/results" no_result_page="search/noresults" show_future_entries="yes"}<input class="uk-search-input" type="hidden" name="keywords" id="keywords" value="action" size="18" maxlength="100">
<button type="submit" value="submit" class="uk-button uk-button-primary uk-margin-left uk-margin-bottom">Action</button>
{/exp:search:simple_form}

{exp:search:simple_form channel="games|game_guides|game_reviews|news|events" where="all" search_in="everywhere" result_page="search/results" no_result_page="search/noresults" show_future_entries="yes"}<input class="uk-search-input" type="hidden" name="keywords" id="keywords" value="adventure" size="18" maxlength="100">
<button type="submit" value="submit" class="uk-button uk-button-primary uk-margin-left uk-margin-bottom">Adventure</button>
{/exp:search:simple_form}

{exp:search:simple_form channel="games|game_guides|game_reviews|news|events" where="all" search_in="everywhere" result_page="search/results" no_result_page="search/noresults" show_future_entries="yes"}<input class="uk-search-input" type="hidden" name="keywords" id="keywords" value="fighting" size="18" maxlength="100">
<button type="submit" value="submit" class="uk-button uk-button-primary uk-margin-left uk-margin-bottom">Fighting</button>
{/exp:search:simple_form}

{exp:search:simple_form channel="games|game_guides|game_reviews|news|events" where="all" search_in="everywhere" result_page="search/results" no_result_page="search/noresults" show_future_entries="yes"}<input class="uk-search-input" type="hidden" name="keywords" id="keywords" value="racing" size="18" maxlength="100">
<button type="submit" value="submit" class="uk-button uk-button-primary uk-margin-left uk-margin-bottom">Racing</button>
{/exp:search:simple_form}

{exp:search:simple_form channel="games|game_guides|game_reviews|news|events" where="all" search_in="everywhere" result_page="search/results" no_result_page="search/noresults" show_future_entries="yes"}<input class="uk-search-input" type="hidden" name="keywords" id="keywords" value="sports" size="18" maxlength="100">
<button type="submit" value="submit" class="uk-button uk-button-primary uk-margin-left uk-margin-bottom">Sports</button>
{/exp:search:simple_form}
</div>

<h1 class="uk-text-large uk-margin-remove-bottom">Game Mode</h1>
<div class="uk-button-group uk-flex uk-flex-wrap">
{exp:search:simple_form channel="games|game_guides|game_reviews|news|events" where="all" search_in="everywhere" result_page="search/results" no_result_page="search/noresults" show_future_entries="yes"}<input class="uk-search-input" type="hidden" name="keywords" id="keywords" value="single player" size="18" maxlength="100">
<button type="submit" value="submit" class="uk-button uk-button-primary uk-margin-left uk-margin-bottom">Single Player</button>
{/exp:search:simple_form}
{exp:search:simple_form channel="games|game_guides|game_reviews|news|events" where="all" search_in="everywhere" result_page="search/results" no_result_page="search/noresults" show_future_entries="yes"}<input class="uk-search-input" type="hidden" name="keywords" id="keywords" value="online co-op" size="18" maxlength="100">
<button type="submit" value="submit" class="uk-button uk-button-primary uk-margin-left uk-margin-bottom">Online Co-op</button>
{/exp:search:simple_form}
{exp:search:simple_form channel="games|game_guides|game_reviews|news|events" where="all" search_in="everywhere" result_page="search/results" no_result_page="search/noresults" show_future_entries="yes"}<input class="uk-search-input" type="hidden" name="keywords" id="keywords" value="local co-op" size="18" maxlength="100">
<button type="submit" value="submit" class="uk-button uk-button-primary uk-margin-left uk-margin-bottom">Local Co-op</button>
{/exp:search:simple_form}
{exp:search:simple_form channel="games|game_guides|game_reviews|news|events" where="all" search_in="everywhere" result_page="search/results" no_result_page="search/noresults" show_future_entries="yes"}<input class="uk-search-input" type="hidden" name="keywords" id="keywords" value="online multiplayer" size="18" maxlength="100">
<button type="submit" value="submit" class="uk-button uk-button-primary uk-margin-left uk-margin-bottom">Online Multiplayer</button>
{/exp:search:simple_form}
</div>

<h1 class="uk-text-large uk-margin-remove-bottom">Game Release Date</h1>
<div class="uk-button-group uk-flex uk-flex-wrap">
	<a href="/search/2019" class="uk-button uk-button-primary uk-margin-left uk-margin-bottom">2019</a>
	<a href="/search/2020" class="uk-button uk-button-primary uk-margin-left uk-margin-bottom">2020</a>
</div>
