{layout="_layouts/_base"}

{layout:set name='description'}Buy some merch for the coolest Stadia community around!{/layout:set}

<div id="myShop">
    <a href="https://shop.spreadshirt.ca/the-stadia-life">the-stadia-life</a>
</div>

<script>
    var spread_shop_config = {
        shopName: 'the-stadia-life',
        locale: 'us_CA',
        prefix: 'https://shop.spreadshirt.ca',
        baseId: 'myShop'
    };
</script>

<script type="text/javascript"
        src="https://shop.spreadshirt.ca/shopfiles/shopclient/shopclient.nocache.js">
</script>