{layout="_layouts/_base"}

{layout:set name='title'}Stadia News{/layout:set}
{layout:set name='description'}All the latest news, from your favourite Stadia community site!{/layout:set}
                
<div class="uk-section uk-container">

    {if segment_2 == 'category'}
		{layout:set name='title'}{segment_3_category_id}{/layout:set}
    	<h1 style="text-transform:capitalize;" class="uk-heading-medium uk-heading-line">Articles - {segment_3_category_name}</h1>
  	{if:else}
    	<h1 class="uk-heading-medium uk-heading-line">Latest News</h1>
	{/if}
    
    <ul class="uk-subnav uk-subnav-divider" uk-margin>
		{exp:channel:categories style="linear"}
            <li><a href="/news/category/{category_url_title}">{category_name}</a></li>
        {/exp:channel:categories}
    </ul>
    <div class="uk-child-width-1-2@m uk-grid-match uk-grid-large" uk-grid>
    
    {exp:channel:entries channel="news" {if segment_2 == "category"}category="{segment_3_category_id}" dynamic="no"{/if}}
        <div>
        <a class="uk-link-reset" href="{url_title_path='news'}">
            <div class="uk-card uk-card-body" uk-grid style="background: none">

                <div class="uk-width-auto@s uk-width-1-3@m uk-background-cover uk-height-small uk-panel uk-flex uk-flex-center uk-flex-middle" style="background-image: url({news_banner});">
                </div>

                <div class="uk-width-expand@m">
                    <h1 class="uk-text-large uk-margin-remove">{title}</h1>
                    <p class="uk-article-meta uk-margin-remove">{author} - {entry_date format="%M %d, %Y"}
                    
                    <span class="uk-align-right" style="margin-bottom: 0;">
                    {categories}
                        <span class="uk-margin-left uk-label uk-label-success">{category_name}</span>
                    {/categories}
                    </span>
                
                
                </p>
                    {news_body}
                        {news_body:body_content}
                        {if {news_body:count name="body_content"} == "1"}
                            <div class="uk-text-default uk-margin-small">{content:limit characters="135"}</div>
                        {/if}
                        {/news_body:body_content}
                    {/news_body}            
                </div>
            </div>

            </a>
            <hr class="uk-hidden@m uk-divider-icon">
        </div>
    {/exp:channel:entries}
    </div>

</div>