{layout="_layouts/_base"}
   
<div>
    <div class="uk-grid uk-container" uk-grid style="margin:auto">

            <div class="uk-container uk-margin-medium-top uk-padding uk-width-expand@m">

            {exp:channel:entries channel="news"}
                {layout:set name='title'}{title}{/layout:set}
                {layout:set name='description'}{news_body}{news_body:body_content}{if {news_body:count name="body_content"} == "1"}{content:limit characters='150'}{/if}{/news_body:body_content}{/news_body}{/layout:set}
                {layout:set name='image'}{news_banner:embed}{/layout:set}

                <div class="">
                    <h1 class="uk-article-title">{title}</h1>
                    <p class="uk-article-meta">{entry_date format="%M %d, %Y"}<br/>{author}<span class="uk-align-right">
                    {categories}
                        <span class="uk-margin-left uk-label uk-label-success"><a>{category_name}</a></span>
                    {/categories}
                    </span></p>
                </div>

                <img data-src="{news_banner}" width="" height="" alt="" uk-img>
    
                <article class="uk-article uk-padding" style="background-color:#ffffff00">
					<div class="uk-grid-small uk-child-width-auto" uk-grid>
                        {if comment_total > 0}
                        <div>
                            <a class="uk-button uk-button-text" href="#comments">{comment_total} Comments</a>
                        </div>
                        {/if}
                    </div>
                    
                    {news_body}
                        {news_body:news_body_header}
                            <p class="uk-text-lead">{content}</p>
                        {/news_body:news_body_header}


                        {news_body:body_content}
                            <p>{content}</p>
                        {/news_body:body_content}

                        {news_body:news_body_full_width_image }
                            {content}
                                <img style="width: 100%;" data-src="{url:article}" alt="" class="" uk-img>
                            {/content}
                        {/news_body:news_body_full_width_image }
                        
                        {news_body:news_body_image}
                            {content}
                                <img data-src="{url:article}" width="300" alt="" class="" uk-img style="float: right;margin-left: 20px;margin-top: 25px;">
                            {/content}
                        {/news_body:news_body_image}
                    {/news_body}
                    
                    <div class="uk-child-width-1-3@m uk-grid-match" uk-grid>
{reviewed_games show_future_entries="yes"}
    <div class="uk-grid-match">
	    <a href="{reviewed_games:url_title_path='games'}">
            <div class="uk-card uk-card-hover uk-card-secondary">
                <div class="uk-card-media-top">
                	<img class="" data-src="{reviewed_games:banner_image}" alt="{reviewed_games:title} Image" uk-img>
                </div>
                <div class="uk-card-header uk-padding-small">
                  <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-expand">
                      <h3 class="uk-text-small uk-card-title uk-margin-remove-bottom">{reviewed_games:title}</h3>
                    </div>
                  </div>
                </div>

                <div class="uk-card-footer uk-padding-small">
                	{if reviewed_games:play_now_link}
                  		<a href="{reviewed_games:play_now_link }"><h1 class="uk-button-danger uk-align-center uk-button-large uk-text-center uk-margin-remove">{if reviewed_games:entry_date < current_time}Play Now{if:else}Pre-Order Now{/if}</h1></a>
                    {if:elseif reviewed_games:expected_release}
                  			<h1 class="uk-button-default uk-align-center uk-button-large uk-text-center uk-margin-remove">{reviewed_games:expected_release}</h1>
                  	{if:else}
	                    <h1 class="uk-button-default uk-align-center uk-button-large uk-text-center uk-margin-remove">{reviewed_games:entry_date format="%M %j, %Y"}</h1>
                  	{/if}

                  <p>
	                {if reviewed_games:game_achievements:total_rows}
    	            	<span uk-tooltip="{reviewed_games:game_achievements:total_rows} Achievements">{reviewed_games:game_achievements:total_rows} <span uk-icon="cog" ></span></span>
					{/if}
                    {reviewed_games:parents field="related_game"}
                    {if previewed_games:arents:count == 1}
                    <span uk-tooltip="{reviewed_games:parents:total_results} Guides" class="uk-margin-left" style="float:right">{reviewed_games:parents:total_results} <span uk-icon="heart"></span></span>
                    {/if}
                    {/reviewed_games:parents}
                  </p>
                </div>
            </div>
      	</a>
    </div>
    {/reviewed_games}
</div>
                </article>
            {/exp:channel:entries}




			<div class="uk-article uk-padding uk-margin-top" >
    		    {embed="_includes/_comments" channel_name="news"}
        	</div>
        </div>


        <div class="uk-width-1-4@m uk-padding uk-margin-xlarge-top">
            <h2 class="uk-text-leader uk-text-emphasis"><a href="/news">In Other News</a></h2>

            {exp:channel:entries channel="news" dynamic="no" url_title="not {segment_2}" limit="10"}
                <article class="uk-article">
                    <h4><a class="uk-link-reset" href="{url_title_path='news'}">{title}</a></h4>
                    <p>                        
                    {news_body}{if news_body:count == 1}{news_body:body_content}{content:limit characters="100"}{/news_body:body_content}{/if}{/news_body}
                    </p>
                </article>
                {if count != total_results}
                <hr class="uk-divider-icon">
                {/if}

            {/exp:channel:entries}
        </div>
    </div>
</div>
